In [149]:
import pandas as pd 
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [154]:
data= pd.read_csv("covidLive.csv")

In [155]:
data.head(3)

,#,Country,Total\r\nCases,TotalDeaths,New\r\nDeaths,Total\r\nRecovered,Active\r\nCases,"Serious,\r\nCritical",Tot Cases/\r\n1M pop,Deaths/\r\n1M pop,Total\r\nTests,Tests/\r\n1M pop,Population
0,1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
1,2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
2,3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"

In [156]:
data.describe

<bound method NDFrame.describe of        #         Country Total\r\nCases TotalDeaths  New\r\nDeaths  \
0      1             USA     98,166,904   1,084,282            NaN
1      2           India     44,587,307     528,629            NaN
2      3          France     35,342,950     155,078            NaN
3      4          Brazil     34,706,757     686,027            NaN
4      5         Germany     33,312,373     149,948            NaN
..   ...             ...            ...         ...            ...
225  226            Niue             80         NaN            NaN
226  227    Vatican City             29         NaN            NaN
227  228          Tuvalu             20         NaN            NaN
228  229  Western Sahara             10           1            NaN
229  230      MS Zaandam              9           2            NaN

    Total\r\nRecovered Active\r\nCases Serious,\r\nCritical  \
0           94,962,112       2,120,510                2,970
1           44,019,095          39,583                  698
2           34,527,115         660,757                  869
3           33,838,636         182,094                8,318
4           32,315,200         847,225                1,406
..                 ...             ...                  ...
225                 80               0                  NaN
226                 29               0                  NaN
227                NaN              20                  NaN
228                  9               0                  NaN
229                  7               0                  NaN

    Tot Cases/\r\n1M pop Deaths/\r\n1M pop Total\r\nTests Tests/\r\n1M pop  \
0                293,206             3,239  1,118,158,870        3,339,729
1                 31,698               376    894,416,853          635,857
2                538,892             2,365    271,490,188        4,139,547
3                161,162             3,186     63,776,166          296,146
4                397,126             1,788    122,332,384        1,458,359
..                   ...               ...            ...              ...
225               49,322               NaN            NaN              NaN
226               36,295               NaN            NaN              NaN
227                1,658               NaN            NaN              NaN
228                   16                 2            NaN              NaN
229                  NaN               NaN            NaN              NaN

        Population
0      334,805,269
1    1,406,631,776
2       65,584,518
3      215,353,593
4       83,883,596
..             ...
225          1,622
226            799
227         12,066
228        626,161
229            NaN

[230 rows x 13 columns]>

In [157]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data)

In [162]:
len(test.index)

58

In [163]:
len(train.index)

172