In [1]:
import pandas as pd 
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [2]:
train= pd.read_csv("covidLive.csv")

In [3]:
train.head(3)

,#,"Country,\nOther",Total\nCases,Total\nDeaths,New\nDeaths,Total\nRecovered,Active\nCases,"Serious,\nCritical",Tot Cases/\n1M pop,Deaths/\n1M pop,Total\nTests,Tests/\n1M pop,Population
0,1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
1,2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
2,3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"

In [4]:
train.head(10)

,#,"Country,\nOther",Total\nCases,Total\nDeaths,New\nDeaths,Total\nRecovered,Active\nCases,"Serious,\nCritical",Tot Cases/\n1M pop,Deaths/\n1M pop,Total\nTests,Tests/\n1M pop,Population
0,1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
1,2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
2,3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"
3,4,Brazil,"34,706,757","686,027",NaN,"33,838,636","182,094","8,318","161,162","3,186","63,776,166","296,146","215,353,593"
4,5,Germany,"33,312,373","149,948",NaN,"32,315,200","847,225","1,406","397,126","1,788","122,332,384","1,458,359","83,883,596"
5,6,S. Korea,"24,769,101","28,406",42.0,"24,013,461","727,234",352,"482,547",553,"15,804,065","307,892","51,329,899"
6,7,UK,"23,621,952","189,919",NaN,"23,347,871","84,162",146,"344,857","2,773","522,526,476","7,628,357","68,497,907"
7,8,Italy,"22,432,803","177,054",NaN,"21,779,604","476,145",141,"372,250","2,938","246,636,495","4,092,684","60,262,770"
8,9,Japan,"21,229,216","44,678",NaN,"20,380,089","804,449",204,"169,043",356,"76,201,407","606,772","125,584,838"
9,10,Russia,"20,948,470","387,163",NaN,"19,979,763","581,544","2,300","143,674","2,655","273,400,000","1,875,095","145,805,947"

In [5]:
train.shape

(230, 13)

In [7]:
train.describe()

                #  New\nDeaths
count  230.000000          3.0
mean   115.500000         18.0
std     66.539462         21.0
min      1.000000          3.0
25%     58.250000          6.0
50%    115.500000          9.0
75%    172.750000         25.5
max    230.000000         42.0

In [9]:
def kesson_table(df): 
    null_val = df.isnull().sum()
    percent = 100 * df.isnull().sum()/len(df)
    kesson_table = pd.concat([null_val, percent], axis=1)
    kesson_table_ren_columns = kesson_table.rename(
    columns = {0 : '欠損数', 1 : '%'})
    return kesson_table_ren_columns
kesson_table(train)

                    欠損数          %
#                     0   0.000000
Country,\nOther       0   0.000000
Total\nCases          0   0.000000
Total\nDeaths         5   2.173913
New\nDeaths         227  98.695652
Total\nRecovered     16   6.956522
Active\nCases        15   6.521739
Serious,\nCritical   83  36.086957
Tot Cases/\n1M pop    2   0.869565
Deaths/\n1M pop       7   3.043478
Total\nTests         16   6.956522
Tests/\n1M pop       16   6.956522
Population            2   0.869565